button-text {
	font-family: Tahoma;
	text-decoration: none;
	color:#fff;
}

.container {
	width:80%;
	margin:auto;
}

.block {
	float:left;
	width:50%;
	border:1px solid #ccc;
	padding:10px;
	box-sizing:border-box;
}

.block:hover {
	background:coral;
	color:#fff;
}

.button {
	font-size: 15px;
	background-color:#a6d31d;
	color:#fff;
	padding: 20px;
	border:none;
}

#add-ingredient {
	position:fixed;
	right:100px;
	bottom:100px;
}

#find-recipes-button {
	position:fixed;
	left:100px;
	bottom:100px;
}