body,
html {
	width: 100%;
	height: 100%;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: rgb(30, 32, 172);
}

a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

body {
  font-family: 'Tahoma';
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.btn-link {
	background-color: rgb(31, 179, 18);
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

.btn {
  font-weight: 700; 
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

.masthead {
	margin-bottom: 30px;
	background-color: lightgoldenrodyellow;
}

header.masthead h1 {
	font-size: 8rem;
	color: rgba(0, 0, 0, 1);
}

header.masthead p {
  font-weight: 300;
}

.navbar {
	max-height: 8%;
	height: 8%;
	width: 100%;
	overflow: auto;
}
.navbar .nav-item {
	color: lightgoldenrodyellow;
}
.navbar a.nav-item.active {
	color: lightcoral;
}



.homepage-item {
	background-color:rgb(31, 179, 18);
	width: 100%;
	height: 262px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
}

.homepage-item:hover {
	background:coral;
}

.homepage-item .homepage-item-content {
	font-size: 60px;
	color: #fff;
	text-align: center;
}

.button-text {
	text-decoration: none;
	color:#000;
}

.button {
	font-size: 15px;
	background-color:rgb(31, 179, 18);
	color:#000;
	border:none;
}

/* KITCHEN SPECIFIC STYLING */

#find-recipes-button:hover {
	background: coral;
}


#kitchen-space-panel {
	width:500px;
	height:300px;
	background: #FFF6E4;
}

.kitchen-container {
	width:80%;
	margin:auto;
	overflow:hidden;
}

.searchform input[type=search] {
	font-size: 28px;
	width: 100%;
}

.ingredientbutton {
	font-size: 28px;
	width: 100%;
	height: 50px;
}

#ingredientinput {
  /* background-image: url('/css/searchicon.png'); */
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 26px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#ingredientlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#ingredientlist li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 28px;
  color: black;
  display: block
}

#ingredientlist li a:hover:not(.header) {
  background-color: #eee;
}

/* MODAL BEGIN */
/* The Modal (background) */
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 80%; /* Could be more or less, depending on screen size */
	}

	/* Modal Header */
	.modal-header {
		padding: 2px 16px;
		background-color: #5cb85c;
		color: white;
	}

	/* Modal Body */
	.modal-body {
		padding: 2px 16px;
	}

	/* Modal Footer */
	.modal-footer {
		padding: 2px 16px;
		background-color: #5cb85c;
		color: white;
	}

	/* Modal Content */
	.modal-content {
		position: sticky;
		background-color: #fefefe;
		margin: auto;
		margin-top: 40%;
		margin-bottom: 30%;
		padding: 0;
		border: 1px solid #888;
		width: 80%;
		height: 60%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		/* -webkit-animation-name: slideIn;
		animation-name: slideIn; */
		animation-name: animatetop;
		animation-duration: 0.4s
	}

	/* Add Animation */
	@keyframes animatetop {
		from {top: -300px; opacity: 0}
		to {top: 0; opacity: 1}
	}
	/* @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
	}
	@keyframes slideIn {
			from {bottom: -300px; opacity: 0}
			to {bottom: 0; opacity: 1}
	} */

	/* The Close Button */
	.close {
		color: rgba(255, 255, 255, 0.9);
		float: left;
		font-size: 40px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
/* MODAL STYLE END */

/* RECIPE STYLING */

